/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

button {
  font-size: 2rem;
  margin-bottom: 15px;
}

span {
  font-size: 2rem;
  font-weight: bold;
}

#game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 10px auto;
  border: 2px solid red;
}

#category-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#clue-board {
  flex-direction: column;
  border: 2px solid red;
}

.clue-row {
  display: flex;
}

.clue-box {
  display: flex;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
  border: 2px solid red;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
